.jumbotron {
  background: #0e0808;
  color: wheat;
  width: 100%;
}
.btn-reserva {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0px;
}
.jumbotron h1 {
  cursor: pointer;
  animation: hinge;
  animation-duration: 2s;
}
h2 {
  animation: fadeOutDown;
  animation-duration: 2s;
}
footer {
  background-color: #0e0808;
  color: wheat;
  width: 100%;
}
h5 {
  width: 100%;
  color: #0e0808;
}
.container {
  margin-top: 50px;
}
.buttom {
  margin-top: 30px;
}
