.jumbotron {
    background: #0e0808;
    color: wheat;
    width: 100%;
}

.jumbotron h1 {
    cursor: pointer;
    animation: hinge;
    animation-duration: 2s;
}

h2 {
    animation: fadeOutDown;
    animation-duration: 2s;
}

.card-block px-2 h4 p {
    position: absolute;
}

footer {
    width: 100%;
    background-color: gray;
    color: white;
}

h5 {
    width: 100%;
}