.jumbotron {
    background: #0e0808;
    color: wheat;
    /*background-color:none !important;*/
}

.jumbotron h1 {
    cursor: pointer;
    animation: finge;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}