.jumbotron {
    background: #0e0808;
    color: wheat;
    width: 100%;
}

.jumbotron h1 {
    cursor: pointer;
    animation: hinge;
    animation-duration: 2s;
}

h2 {
    animation: fadeOutDown;
    animation-duration: 2s;
}

footer {
    background-color: #0e0808;
    color: wheat;
    padding: 10px 10px 0px 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.col-sm-3 {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

h5 {
    margin-top: 50px;
}

.navbar.bg-dark {
    background-color: #0c0e10!important;
    color: wheat;
}