$black:#0e0808;
@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background: $black;
    color: wheat;
    width: 100%;
}

.btn-reserva {
    width: 100%;
    @include margenes(10px, 10px);
    border-radius: 0px;
    background-color: $black;
    color: wheat;
    border-radius: 73px;
    background: linear-gradient(145deg, #bec4c8, #e2e9ee);
    box-shadow: 24px 24px 49px #a7acaf, -24px -24px 49px #ffffff;
}

.jumbotron h1 {
    cursor: pointer;
    animation: hinge;
    animation-duration: 2s;
}

h2 {
    animation: fadeOutDown;
    animation-duration: 2s;
}

footer {
    background-color: $black;
    color: wheat;
    width: 100%;
}

h5 {
    width: 100%;
    background-color: $black;
    color: wheat;
    margin-top: 0px;
}

.container {
    margin-top: 50px;
}

.buttom {
    margin-top: 30px;
}