$black:#0e0808;
@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background: $black;
    color: wheat;
    width: 100%;
}

.btn-reserva {
    width: 100%;
    @include margenes(10px, 10px);
    border-radius: 0px;
}

.jumbotron h1 {
    cursor: pointer;
    animation: hinge;
    animation-duration: 2s;
}

h2 {
    animation: fadeOutDown;
    animation-duration: 2s;
}

footer {
    background-color: $black;
    color: wheat;
    width: 100%;
}

h5 {
    width: 100%;
}

.container {
    margin-top: 50px;
}

.buttom {
    margin-top: 30px;
}